<div class="well">
	<h1 class="pixelate" style="color:#fcca09;">Uh Oh</h1>
<h2> We aren't showing comments here... <br/>Click The Link Below to go home:</h2>

<p class="btn btn-success"><%= link_to "Home", root_path %></p>

</div>