<div class="background-transparent">
<div id="pins" class="transitions-enabled">
	
<% @users.each do |user| %>
<div class="box panel panel-default">
	<br/>
	<%= gravatar_for user, size: 150 %>
<h3><i class="glyphicon glyphicon-heart"></i>  <%= link_to user.name, user %> <i class="glyphicon glyphicon-heart"></i> </h3>
 
<div class="panel-body">
<%= link_to "Click here to Visit", user, class: "btn btn-success btn-lg", type: "btn'" %>
</div>
</div>
<% end %>
</div>
</div>









