<div class="well text-center">
<h1>About Pokemon LOL</h1>
<h2>Why?</h2>
<p> Pokemon has always been a revolutionary game, and of course... with Pokemon GO being the first game to really get me excited about tech. I had to make this app.</p>
<h2>Purpose?</h2>
<p>This app was made to share relatable &amp; funny content for pokemon players. But again, this is a community for others to share knowledge, expertise, and funny memes about pokemon... aha ;)</p>
<h2>What now?</h2>
<p>Play Pokemon Go &amp; all other pokemon games out in the world. This franchise is beautiful. Keep playing &amp; keep catchin' them all.</p>
</div>