<div class="well text-center">
<h1>Credits</h1>
<h2>Who Made This App</h2>
<p>This app was made by Giovani Camara...<br/> Checkout his work at <a href="https://gcamara14.github.io/" target="_blank"> https://gcamara14.github.io/</a></p>
<h2>Other:</h2>
<p>I do not own &amp; am not affiliated with pokemon in any way or form.</p>
<p>Shoutout to MonsterMMORP who made this dope pokemon background <a href="http://www.deviantart.com/art/Pokemon-Style-Monster-MMORPG-Map-Central-Plains-259495085" target="_blank"> Click Here To Visit</a></p>
</div>