<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="well">
        <h1> Pokemon Go Pokedex</h1>
        <div id="mainBody" itemprop="articleBody" style="padding-top:0px;">
            So you're playing <em>Pokemon GO</em>. Welcome to the club.
            Everyone on the internet seems to be obsessed with this brilliant
            augmented reality RPG.<br>
            <br>
            To help you catch 'em all, as is the destiny of any Pokemon
            Trainer, we've put together a list of every Pokemon that has been
            confirmed to exist in the game.<br>
            <br>
            Some, especially the legendary Pokemon, will likely be added later
            in special events.<br>
            <br>
            As for the rest, remember that boosting your trainer level will
            help you find rarer critters. That Pokemon are easier to find in
            areas that match their type (grass in forests, water by lakes,
            etc), and that some nocturnal Pokemon only come out at night.<br>
            <br>
            If you've spotted any that we don't have on our list, let us know
            in the comments below.<br>
            &nbsp;<br>
            <div class="pokedex-td">
            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                <tbody>
                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-bulbasaur.jpg"
                        width="250"></td>
                        <td>#001 - <strong>Bulbasaur<br>
                        <br></strong> <strong>Type</strong>: Grass / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Ivysaur</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-ivysaur.jpg"
                        width="250"></td>
                        <td>#002 - <strong>Ivysaur<br>
                        <br></strong> <strong>Type</strong>: Grass / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Venusaur</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-venusaur.jpg"
                        width="250"></td>
                        <td>#003 - <strong>Venusaur<br>
                        <br></strong> <strong>Type</strong>: Grass /
                        Poison</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-charmander.jpg"
                        width="250"></td>
                        <td>#004 - <strong>Charmander<br>
                        <br></strong> <strong>Type</strong>: Fire<br>
                        <br>
                        <strong>Evolves into</strong>: Charmeleon</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-charmeleon.jpg"
                        width="250"></td>
                        <td>#005 - <strong>Charmeleon<br>
                        <br></strong> <strong>Type</strong>: Fire<br>
                        <br>
                        <strong>Evolves into</strong>: Charizard</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-charizard.jpg"
                        width="250"></td>
                        <td>#006 - <strong>Charizard<br>
                        <br></strong> <strong>Type</strong>: Fire / Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-squirtle.jpg"
                        width="250"></td>
                        <td>#007 - <strong>Squirtle<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Wartortle</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-wartortle.jpg"
                        width="250"></td>
                        <td>#008 - <strong>Wartortle<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Blastoise</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-blastoise.jpg"
                        width="250"></td>
                        <td>#009 - <strong>Blastoise<br>
                        <br></strong> <strong>Type</strong>: Water</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-caterpie.jpg"
                        width="250"></td>
                        <td>#010 - <strong>Caterpie<br>
                        <br></strong> <strong>Type</strong>: Bug<br>
                        <br>
                        <strong>Evolves into</strong>: Metapod</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-metapod.jpg"
                        width="250"></td>
                        <td>#011 - <strong>Metapod<br>
                        <br></strong> <strong>Type</strong>: Bug<br>
                        <br>
                        <strong>Evolves into</strong>: Butterfree</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-butterfree.jpg"
                        width="250"></td>
                        <td>#012 - <strong>Butterfree<br>
                        <br></strong> <strong>Type</strong>: Bug / Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-weedle.jpg"
                        width="250"></td>
                        <td>#013 - <strong>Weedle<br>
                        <br></strong> <strong>Type</strong>: Bug / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Kakuna</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-kakuna.jpg"
                        width="250"></td>
                        <td>#014 - <strong>Kakuna<br>
                        <br></strong> <strong>Type</strong>: Bug / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Beedrill</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-beedrill.jpg"
                        width="250"></td>
                        <td>#015 - <strong>Beedrill<br>
                        <br></strong> <strong>Type</strong>: Bug / Poison</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-pidgey.jpg"
                        width="250"></td>
                        <td>#016 - <strong>Pidgey<br>
                        <br></strong> <strong>Type</strong>: Normal<br>
                        <br>
                        <strong>Evolves into</strong>: Pidgeotto</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-pidgeotto.jpg"
                        width="250"></td>
                        <td>#017 - <strong>Pidgeotto<br>
                        <br></strong> <strong>Type</strong>: Normal /
                        Flying<br>
                        <br>
                        <strong>Evolves into</strong>: Pidgeot</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-pidgeot.jpg"
                        width="250"></td>
                        <td>#018 - <strong>Pidgeot<br>
                        <br></strong> <strong>Type</strong>: Normal /
                        Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-rattata.jpg"
                        width="250"></td>
                        <td>#019 - <strong>Rattata<br>
                        <br></strong> <strong>Type</strong>: Normal<br>
                        <br>
                        <strong>Evolves into</strong>: Raticate</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-raticate.jpg"
                        width="250"></td>
                        <td>#020 - <strong>Raticate<br>
                        <br></strong> <strong>Type</strong>: Normal</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-spearow.jpg"
                        width="250"></td>
                        <td>#021 - <strong>Spearow<br>
                        <br></strong> <strong>Type</strong>: Normal /
                        Flying<br>
                        <br>
                        <strong>Evolves into</strong>: Fearow</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-fearow.jpg"
                        width="250"></td>
                        <td>#022 - <strong>Fearow<br>
                        <br></strong> <strong>Type</strong>: Normal /
                        Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-ekans.jpg"
                        width="250"></td>
                        <td>#023 - <strong>Ekans<br>
                        <br></strong> <strong>Type</strong>: Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Arbok</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-arbok.jpg"
                        width="250"></td>
                        <td>#024 - <strong>Arbok<br>
                        <br></strong> <strong>Type</strong>: Poison</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-pikachu.jpg"
                        width="250"></td>
                        <td>#025 - <strong>Pikachu<br>
                        <br></strong> <strong>Type</strong>: Electric<br>
                        <br>
                        <strong>Evolves into</strong>: Raichu</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-raichu.jpg"
                        width="250"></td>
                        <td>#026 - <strong>Raichu<br>
                        <br></strong> <strong>Type</strong>: Electric</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-sandshrew.jpg"
                        width="250"></td>
                        <td>#027 - <strong>Sandshrew<br>
                        <br></strong> <strong>Type</strong>: Ground<br>
                        <br>
                        <strong>Evolves into</strong>: Sandslash</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-sandslash.jpg"
                        width="250"></td>
                        <td>#028 - <strong>Sandslash<br>
                        <br></strong> <strong>Type</strong>: Ground</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nidoranf.jpg"
                        width="250"></td>
                        <td>#029 - <strong>Nidoran F<br>
                        <br></strong> <strong>Type</strong>: Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Nidorina</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nidorino.jpg"
                        width="250"></td>
                        <td>#030 - <strong>Nidorina<br>
                        <br></strong> <strong>Type</strong>: Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Nidoqueen</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nidoqueen.jpg"
                        width="250"></td>
                        <td>#031 - <strong>Nidoqueen<br>
                        <br></strong> <strong>Type</strong>: Poison /
                        Ground</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nidroranm.jpg"
                        width="250"></td>
                        <td>#032 - <strong>Nidoran M<br>
                        <br></strong> <strong>Type</strong>: Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Nidorino</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nidorina.jpg"
                        width="250"></td>
                        <td>#033 - <strong>Nidorino<br>
                        <br></strong> <strong>Type</strong>: Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Nidoking</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nidoking.jpg"
                        width="250"></td>
                        <td>#034 - <strong>Nidoking<br>
                        <br></strong> <strong>Type</strong>: Poison /
                        Ground</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-clefairy.jpg"
                        width="250"></td>
                        <td>#035 - <strong>Clefairy<br>
                        <br></strong> <strong>Type</strong>: Fairy<br>
                        <br>
                        <strong>Evolves into</strong>: Clefable</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-clefable.jpg"
                        width="250"></td>
                        <td>#036 - <strong>Clefable<br>
                        <br></strong> <strong>Type</strong>: Fairy</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-vulpix.jpg"
                        width="250"></td>
                        <td>#037 - <strong>Vulpix<br>
                        <br></strong> <strong>Type</strong>: Fire<br>
                        <br>
                        <strong>Evolves into</strong>: Ninetales</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-ninetales.jpg"
                        width="250"></td>
                        <td>#038 - <strong>Ninetales<br>
                        <br></strong> <strong>Type</strong>: Fire</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-jigglypuff.jpg"
                        width="250"></td>
                        <td>#039 - <strong>Jigglypuff<br>
                        <br></strong> <strong>Type</strong>: Normal / Fairy<br>
                        <br>
                        <strong>Evolves into</strong>: Wigglytuff</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-wigglytuff.jpg"
                        width="250"></td>
                        <td>#040 - <strong>Wigglytuff<br>
                        <br></strong> <strong>Type</strong>: Normal /
                        Fairy</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-zubat.jpg"
                        width="250"></td>
                        <td>#041 - <strong>Zubat<br>
                        <br></strong> <strong>Type</strong>: Poison /
                        Flying<br>
                        <br>
                        <strong>Evolves into</strong>: Golbat</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-golbat.jpg"
                        width="250"></td>
                        <td>#042 - <strong>Golbat<br>
                        <br></strong> <strong>Type</strong>: Poison /
                        Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-oddish.jpg"
                        width="250"></td>
                        <td>#043 - <strong>Oddish<br>
                        <br></strong> <strong>Type</strong>: Grass / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Gloom</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-gloom.jpg"
                        width="250"></td>
                        <td>#044 - <strong>Gloom<br>
                        <br></strong> <strong>Type</strong>: Grass / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Vileplume</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-vileplume.jpg"
                        width="250"></td>
                        <td>#045 - <strong>Vileplume<br>
                        <br></strong> <strong>Type</strong>: Grass /
                        Poison</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-paras.jpg"
                        width="250"></td>
                        <td>#046 - <strong>Paras<br>
                        <br></strong> <strong>Type</strong>: Bug / Grass<br>
                        <br>
                        <strong>Evolves into</strong>: Parasect</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-parasect.jpg"
                        width="250"></td>
                        <td>#047 - <strong>Parasect<br>
                        <br></strong> <strong>Type</strong>: Bug / Grass</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-venonat.jpg"
                        width="250"></td>
                        <td>#048 - <strong>Venonat<br>
                        <br></strong> <strong>Type</strong>: Bug / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Venomoth</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-venomoth.jpg"
                        width="250"></td>
                        <td>#049 - <strong>Venomoth<br>
                        <br></strong> <strong>Type</strong>: Bug / Poison</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-diglett.jpg"
                        width="250"></td>
                        <td>#050 - <strong>Diglett<br>
                        <br></strong> <strong>Type</strong>: Ground<br>
                        <br>
                        <strong>Evolves into</strong>: Dugtrio</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-dugtrio.jpg"
                        width="250"></td>
                        <td>#051 - <strong>Dugtrio<br>
                        <br></strong> <strong>Type</strong>: Ground</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-meowth.jpg"
                        width="250"></td>
                        <td>#052 - <strong>Meowth<br>
                        <br></strong> <strong>Type</strong>: Normal<br>
                        <br>
                        <strong>Evolves into</strong>: Persian</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-persian.jpg"
                        width="250"></td>
                        <td>#053 - <strong>Persian<br>
                        <br></strong> <strong>Type</strong>: Normal</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-psyduck.jpg"
                        width="250"></td>
                        <td>#054 - <strong>Psyduck<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Golduck</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-golduck.jpg"
                        width="250"></td>
                        <td>#055 - <strong>Golduck<br>
                        <br></strong> <strong>Type</strong>: Water</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-mankey.jpg"
                        width="250"></td>
                        <td>#056 - <strong>Mankey<br>
                        <br></strong> <strong>Type</strong>: Fighting<br>
                        <br>
                        <strong>Evolves into</strong>: Primeape</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-primeape.jpg"
                        width="250"></td>
                        <td>#057 - <strong>Primeape<br>
                        <br></strong> <strong>Type</strong>: Fighting</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-growlithe.jpg"
                        width="250"></td>
                        <td>#058 - <strong>Growlithe<br>
                        <br></strong> <strong>Type</strong>: Fire<br>
                        <br>
                        <strong>Evolves into</strong>: Arcanine</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-arcanine.jpg"
                        width="250"></td>
                        <td>#059 - <strong>Arcanine<br>
                        <br></strong> <strong>Type</strong>: Fire</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-poliwag.jpg"
                        width="250"></td>
                        <td>#060 - <strong>Poliwag<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Poliwhirl</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-poliwhirl.jpg"
                        width="250"></td>
                        <td>#061 - <strong>Poliwhirl<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Poliwrath</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-poliwrath.jpg"
                        width="250"></td>
                        <td>#062 - <strong>Poliwrath<br>
                        <br></strong> <strong>Type</strong>: Water /
                        Fighting</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-abra.jpg"
                        width="250"></td>
                        <td>#063 - <strong>Abra<br>
                        <br></strong> <strong>Type</strong>: Psychic<br>
                        <br>
                        <strong>Evolves into</strong>: Kadabra</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-kadabra.jpg"
                        width="250"></td>
                        <td>#064 - <strong>Kadabra<br>
                        <br></strong> <strong>Type</strong>: Psychic<br>
                        <br>
                        <strong>Evolves into</strong>: Alakazam</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-alakazam.jpg"
                        width="250"></td>
                        <td>#065 - <strong>Alakazam<br>
                        <br></strong> <strong>Type</strong>: Psychic</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-machop.jpg"
                        width="250"></td>
                        <td>#066 - <strong>Machop<br>
                        <br></strong> <strong>Type</strong>: Fighting<br>
                        <br>
                        <strong>Evolves into</strong>: Machoke</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-machoke.jpg"
                        width="250"></td>
                        <td>#067 - <strong>Machoke<br>
                        <br></strong> <strong>Type</strong>: Fighting<br>
                        <br>
                        <strong>Evolves into</strong>: Machamp</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-machamp.jpg"
                        width="250"></td>
                        <td>#068 - <strong>Machamp<br>
                        <br></strong> <strong>Type</strong>: Fighting</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-bellsprout.jpg"
                        width="250"></td>
                        <td>#069 - <strong>Bellsprout<br>
                        <br></strong> <strong>Type</strong>: Grass / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Weepinbell</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-weepinbell.jpg"
                        width="250"></td>
                        <td>#070 - <strong>Weepinbell<br>
                        <br></strong> <strong>Type</strong>: Grass / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Victreebel</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-victreebel.jpg"
                        width="250"></td>
                        <td>#071 - <strong>Victreebel<br>
                        <br></strong> <strong>Type</strong>: Grass /
                        Poison</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-tentacool.jpg"
                        width="250"></td>
                        <td>#072 - <strong>Tentacool<br>
                        <br></strong> <strong>Type</strong>: Water / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Tentacruel</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-tentacruel.jpg"
                        width="250"></td>
                        <td>#073 - <strong>Tentacruel<br>
                        <br></strong> <strong>Type</strong>: Water /
                        Poison</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-geodude.jpg"
                        width="250"></td>
                        <td>#074 - <strong>Geodude<br>
                        <br></strong> <strong>Type</strong>: Rock / Ground<br>
                        <br>
                        <strong>Evolves into</strong>: Graveler</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-graveler.jpg"
                        width="250"></td>
                        <td>#075 - <strong>Graveler<br>
                        <br></strong> <strong>Type</strong>: Rock / Ground<br>
                        <br>
                        <strong>Evolves into</strong>: Golem</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-golem.jpg"
                        width="250"></td>
                        <td>#076 - <strong>Golem<br>
                        <br></strong> <strong>Type</strong>: Rock / Ground</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-ponyta.jpg"
                        width="250"></td>
                        <td>#077 - <strong>Ponyta<br>
                        <br></strong> <strong>Type</strong>: Fire<br>
                        <br>
                        <strong>Evolves into</strong>: Rapidash</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-rapidash.jpg"
                        width="250"></td>
                        <td>#078 - <strong>Rapidash<br>
                        <br></strong> <strong>Type</strong>: Fire</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-slowpoke.jpg"
                        width="250"></td>
                        <td>#079 - <strong>Slowpoke<br>
                        <br></strong> <strong>Type</strong>: Water /
                        Psychic<br>
                        <br>
                        <strong>Evolves into</strong>: Slowbro</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-slowbro.jpg"
                        width="250"></td>
                        <td>#080 - <strong>Slowbro<br>
                        <br></strong> <strong>Type</strong>: Water /
                        Psychic</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-magnemite.jpg"
                        width="250"></td>
                        <td>#081 - <strong>Magnemite<br>
                        <br></strong> <strong>Type</strong>: Electric /
                        Steel<br>
                        <br>
                        <strong>Evolves into</strong>: Magneton</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-magneton.jpg"
                        width="250"></td>
                        <td>#082 - <strong>Magneton<br>
                        <br></strong> <strong>Type</strong>: Electric /
                        Steel</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nocomfirm.jpg"
                        width="250"></td>
                        <td>#083 - <strong>Farfetch'd<br>
                        <br></strong> <strong>Type</strong>: Normal /
                        Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-doduo.jpg"
                        width="250"></td>
                        <td>#084 - <strong>Doduo<br>
                        <br></strong> <strong>Type</strong>: Normal /
                        Flying<br>
                        <br>
                        <strong>Evolves into</strong>: Dodrio</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-dodrio.jpg"
                        width="250"></td>
                        <td>#085 - <strong>Dodrio<br>
                        <br></strong> <strong>Type</strong>: Normal /
                        Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-seel.jpg"
                        width="250"></td>
                        <td>#086 - <strong>Seel<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Dewgong</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-dewgong.jpg"
                        width="250"></td>
                        <td>#087 - <strong>Dewgong<br>
                        <br></strong> <strong>Type</strong>: Water / Ice</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-grimer.jpg"
                        width="250"></td>
                        <td>#088 - <strong>Grimer<br>
                        <br></strong> <strong>Type</strong>: Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Muk</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/FCKEditorFiles//pokemon-go-dex-muk.jpg"
                        width="250"></td>
                        <td>#089 - <strong>Muk<br>
                        <br></strong> <strong>Type</strong>: Poison</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-shellder.jpg"
                        width="250"></td>
                        <td>#090 - <strong>Shellder<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Cloyster</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-cloyster.jpg"
                        width="250"></td>
                        <td>#091 - <strong>Cloyster<br>
                        <br></strong> <strong>Type</strong>: Water / Ice</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-ghastly.jpg"
                        width="250"></td>
                        <td>#092 - <strong>Gastly<br>
                        <br></strong> <strong>Type</strong>: Ghost / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Haunter</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-haunter.jpg"
                        width="250"></td>
                        <td>#093 - <strong>Haunter<br>
                        <br></strong> <strong>Type</strong>: Ghost / Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Gengar</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-gengar.jpg"
                        width="250"></td>
                        <td>#094 - <strong>Gengar<br>
                        <br></strong> <strong>Type</strong>: Ghost /
                        Poison</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-onix.jpg"
                        width="250"></td>
                        <td>#095 - <strong>Onix<br>
                        <br></strong> <strong>Type</strong>: Rock / Ground</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-drowzee.jpg"
                        width="250"></td>
                        <td>#096 - <strong>Drowzee<br>
                        <br></strong> <strong>Type</strong>: Psychic<br>
                        <br>
                        <strong>Evolves into</strong>: Hypno</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-hypno.jpg"
                        width="250"></td>
                        <td>#097 - <strong>Hypno<br>
                        <br></strong> <strong>Type</strong>: Psychic</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-krabby.jpg"
                        width="250"></td>
                        <td>#098 - <strong>Krabby<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Kingler</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-kingler.jpg"
                        width="250"></td>
                        <td>#099 - <strong>Kingler<br>
                        <br></strong> <strong>Type</strong>: Water</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-voltorb.jpg"
                        width="250"></td>
                        <td>#100 - <strong>Voltorb<br>
                        <br></strong> <strong>Type</strong>: Electric<br>
                        <br>
                        <strong>Evolves into</strong>: Electrode</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-electrode.jpg"
                        width="250"></td>
                        <td>#101 - <strong>Electrode<br>
                        <br></strong> <strong>Type</strong>: Electric</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-exeggcute.jpg"
                        width="250"></td>
                        <td>#102 - <strong>Exeggcute<br>
                        <br></strong> <strong>Type</strong>: Grass /
                        Psychic<br>
                        <br>
                        <strong>Evolves into</strong>: Exeggutor</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-exeggutor.jpg"
                        width="250"></td>
                        <td>#103 - <strong>Exeggutor<br>
                        <br></strong> <strong>Type</strong>: Grass /
                        Psychic</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-cubone.jpg"
                        width="250"></td>
                        <td>#104 - <strong>Cubone<br>
                        <br></strong> <strong>Type</strong>: Ground<br>
                        <br>
                        <strong>Evolves into</strong>: Marowak</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-marowak.jpg"
                        width="250"></td>
                        <td>#105 - <strong>Marowak<br>
                        <br></strong> <strong>Type</strong>: Ground</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-hitmonlee.jpg"
                        width="250"></td>
                        <td>#106 - <strong>Hitmonlee<br>
                        <br></strong> <strong>Type</strong>: Fighting</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-hitmonchan.jpg"
                        width="250"></td>
                        <td>#107 - <strong>Hitmonchan<br>
                        <br></strong> <strong>Type</strong>: Fighting</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-lickitung.jpg"
                        width="250"></td>
                        <td>#108 - <strong>Lickitung<br>
                        <br></strong> <strong>Type</strong>: Normal</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-koffing.jpg"
                        width="250"></td>
                        <td>#109 - <strong>Koffing<br>
                        <br></strong> <strong>Type</strong>: Poison<br>
                        <br>
                        <strong>Evolves into</strong>: Weezing</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-weezing.jpg"
                        width="250"></td>
                        <td>#110 - <strong>Weezing<br>
                        <br></strong> <strong>Type</strong>: Weezing</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-rhyhorn.jpg"
                        width="250"></td>
                        <td>#111 - <strong>Rhyhorn<br>
                        <br></strong> <strong>Type</strong>: Ground / Rock<br>
                        <br>
                        <strong>Evolves into</strong>: Rhydon</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-rhydon.jpg"
                        width="250"></td>
                        <td>#112 - <strong>Rhydon<br>
                        <br></strong> <strong>Type</strong>: Ground / Rock</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-chansey.jpg"
                        width="250"></td>
                        <td>#113 - <strong>Chansey<br>
                        <br></strong> <strong>Type</strong>: Normal</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-tangela.jpg"
                        width="250"></td>
                        <td>#114 - <strong>Tangela<br>
                        <br></strong> <strong>Type</strong>: Grass</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/FCKEditorFiles//pokemon-go-dex-kanga.jpg"
                        width="250"></td>
                        <td>#115 - <strong>Kangaskhan<br>
                        <br></strong> <strong>Type</strong>: Normal</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-horsea.jpg"
                        width="250"></td>
                        <td>#116 - <strong>Horsea<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Seadra</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-seadra.jpg"
                        width="250"></td>
                        <td>#117 - <strong>Seadra<br>
                        <br></strong> <strong>Type</strong>: Water</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-goldeen.jpg"
                        width="250"></td>
                        <td>#118 - <strong>Goldeen<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Seaking</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-seaking.jpg"
                        width="250"></td>
                        <td>#119 - <strong>Seaking<br>
                        <br></strong> <strong>Type</strong>: Water</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-staryu.jpg"
                        width="250"></td>
                        <td>#120 - <strong>Staryu<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Starmie</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-starmie.jpg"
                        width="250"></td>
                        <td>#121 - <strong>Starmie<br>
                        <br></strong> <strong>Type</strong>: Water /
                        Psychic</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/FCKEditorFiles//pokemon-go-dex-mrmime.jpg"
                        width="250"></td>
                        <td>#122 - <strong>Mr. Mime<br>
                        <br></strong> <strong>Type</strong>: Psychic /
                        Fairy</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-scyther.jpg"
                        width="250"></td>
                        <td>#123 - <strong>Scyther<br>
                        <br></strong> <strong>Type</strong>: Bug / Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-jynx.jpg"
                        width="250"></td>
                        <td>#124 - <strong>Jynx<br>
                        <br></strong> <strong>Type</strong>: Ice / Psychic</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-electabuzz.jpg"
                        width="250"></td>
                        <td>#125 - <strong>Electabuzz<br>
                        <br></strong> <strong>Type</strong>: Electric</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-magmar.jpg"
                        width="250"></td>
                        <td>#126 - <strong>Magmar<br>
                        <br></strong> <strong>Type</strong>: Fire</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-pinsir.jpg"
                        width="250"></td>
                        <td>#127 - <strong>Pinsir<br>
                        <br></strong> <strong>Type</strong>: Bug</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-tauros.jpg"
                        width="250"></td>
                        <td>#128 - <strong>Tauros<br>
                        <br></strong> <strong>Type</strong>: Normal</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-magikarp.jpg"
                        width="250"></td>
                        <td>#129 - <strong>Magikarp<br>
                        <br></strong> <strong>Type</strong>: Water<br>
                        <br>
                        <strong>Evolves into</strong>: Gyarados</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-gyarados.jpg"
                        width="250"></td>
                        <td>#130 - <strong>Gyarados<br>
                        <br></strong> <strong>Type</strong>: Water /
                        Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-lapras.jpg"
                        width="250"></td>
                        <td>#131 - <strong>Lapras<br>
                        <br></strong> <strong>Type</strong>: Water / Ice</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nocomfirm.jpg"
                        width="250"></td>
                        <td>#132 - <strong>Ditto<br>
                        <br></strong> <strong>Type</strong>: Normal</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-eevee.jpg"
                        width="250"></td>
                        <td>#133 - <strong>Eevee<br>
                        <br></strong> <strong>Type</strong>: Normal<br>
                        <br>
                        <strong>Evolves into</strong>: Vaporeon, Jolteon, or
                        Flareon</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-vaporeon.jpg"
                        width="250"></td>
                        <td>#134 - <strong>Vaporeon<br>
                        <br></strong> <strong>Type</strong>: Water</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-jolteon.jpg"
                        width="250"></td>
                        <td>#135 - <strong>Jolteon<br>
                        <br></strong> <strong>Type</strong>: Electric</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-flareon.jpg"
                        width="250"></td>
                        <td>#136 - <strong>Flareon<br>
                        <br></strong> <strong>Type</strong>: Fire</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-porygon.jpg"
                        width="250"></td>
                        <td>#137 - <strong>Porygon<br>
                        <br></strong> <strong>Type</strong>: Normal</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-omanyte.jpg"
                        width="250"></td>
                        <td>#138 - <strong>Omanyte<br>
                        <br></strong> <strong>Type</strong>: Rock / Water<br>
                        <br>
                        <strong>Evolves into</strong>: Omastar</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-omastar.jpg"
                        width="250"></td>
                        <td>#139 - <strong>Omastar<br>
                        <br></strong> <strong>Type</strong>: Rock / Water</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-kabuto.jpg"
                        width="250"></td>
                        <td>#140 - <strong>Kabuto<br>
                        <br></strong> <strong>Type</strong>: Rock / Water<br>
                        <br>
                        <strong>Evolves into</strong>: Kabutops</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-kabutops.jpg"
                        width="250"></td>
                        <td>#141 - <strong>Kabutops<br>
                        <br></strong> <strong>Type</strong>: Rock / Water</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-aerodactyl.jpg"
                        width="250"></td>
                        <td>#142 - <strong>Aerodactyl<br>
                        <br></strong> <strong>Type</strong>: Rock / Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-snorlax.jpg"
                        width="250"></td>
                        <td>#143 - <strong>Snorlax<br>
                        <br></strong> <strong>Type</strong>: Normal</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nocomfirm.jpg"
                        width="250"></td>
                        <td>#144 - <strong>Articuno<br>
                        <br></strong> <strong>Type</strong>: Ice / Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nocomfirm.jpg"
                        width="250"></td>
                        <td>#145 - <strong>Zapdos<br>
                        <br></strong> <strong>Type</strong>: Electric /
                        Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nocomfirm.jpg"
                        width="250"></td>
                        <td>#146 - <strong>Moltres<br>
                        <br></strong> <strong>Type</strong>: Fire / Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-dratini.jpg"
                        width="250"></td>
                        <td>#147 - <strong>Dratini<br>
                        <br></strong> <strong>Type</strong>: Dragon<br>
                        <br>
                        <strong>Evolves into</strong>: Dragonair</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-dragonair.jpg"
                        width="250"></td>
                        <td>#148 - <strong>Dragonair<br>
                        <br></strong> <strong>Type</strong>: Dragon<br>
                        <br>
                        <strong>Evolves into</strong>: Dragonite</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-dragonite.jpg"
                        width="250"></td>
                        <td>#149 - <strong>Dragonite<br>
                        <br></strong> <strong>Type</strong>: Dragon /
                        Flying</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nocomfirm.jpg"
                        width="250"></td>
                        <td>#150 - <strong>Mewtwo<br>
                        <br></strong> <strong>Type</strong>: Psychic</td>
                    </tr>

                    <tr>
                        <td><img alt="Pokemon GO" height="250" src=
                        "http://images.pocketgamer.co.uk/images/featimgs/pokemon-go-dex-nocomfirm.jpg"
                        width="250"></td>
                        <td>#151 - <strong>Mew<br>
                        <br></strong> <strong>Type</strong>: Psychic</td>
                    </tr>

                </tbody>
            </table>&nbsp;    
        </div>
        <h2>Discuss The Pokedex Here!</h2>
        <p>Share Tips, Pokedex info, &amp; More</p>
        <div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//pokemonlol.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
        <script id="dsq-count-scr" src="//pokemonlol.disqus.com/count.js" async></script>
    
    
</body>
</html>