<div class="container" id="list_index">
<% @links.each do |link| %>
  <div class="link">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small>
    </h2>
    <hr class="link_hr"/>
  <% end %>
</div>