/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self

 */

@import "bootstrap-sprockets";
@import "bootstrap";

.pixelate{
	font-family: 'Press Start 2P', cursive;    margin: 0;
	  color: white;
 text-shadow: -5px -1px 0 #375b9d, 1px -1px 0 #375b9d, -1px 1px 0 #375b9d, 1px 1px 0 #375b9d;
}

html,body{
    height: 100%
}

body {
    background: #E9E9E9;
    background-image: image-url("pokemonlolbackground.png");
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

#pins .box {

    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

nav {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	.navbar-brand {
		a {
			color: #fcca09;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

#pins {
  margin: 0 auto;
  width: 100%;

  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

#pin_show {
	.panel-heading {
		padding: 0;
	}
	.pin_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
}

textarea {
	min-height: 250px;
}

.navbar-default {
	padding-top: .5;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}


    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
	#pins .box {
    margin: 2px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#pins {
    margin: 0 auto;
    width: 100% !important;

  }
}

.link_hr{
border-bottom: 1px rgb(158, 158, 158) solid;
}

#users_links{
	width:50%;
}

#list_index{
	width:80%;
	background-color: rgba(248, 248, 248, 0.99);
}




    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
	#list_index {
    		width: 100%;
    		background-color: rgba(248, 248, 248, 0.99);
	}

	.footer{
	display:none;
	}

	#show_icons{
    float: none !important;
  
}

	.mobile-pad{
    padding-top: 14px;
    padding-bottom: 10px;
}

	.center-mobile{
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	}
    
	/* end of query */

	@media only screen and (min-width : 769px) {

	.center-desktop{
		
		padding-top: 0px;
		padding-bottom: 5px;
	}

	}

	/* end of query */

	#comment-textfield {
    min-height: 100px;
    margin-top: 25px;
}

.comments_wrapper{
	padding-bottom: 10px;
}

#new_comment{
	    margin-bottom: 25px;
}

.background-transparent{
	background-color: rgba(45, 59, 46, 0.14);

}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

a {
    color: #333333;

    -moz-text-decoration-color: #375b9d;
    text-decoration-color: #375b9d;
    
    }

    a:hover, a:focus {
    color: #252525;
    text-decoration: underline;
    -moz-text-decoration-color: #375b9d;
    text-decoration-color: #375b9d;

}

@media only screen and (min-width : 488px) and (max-width : 700px) {
.user_pins #pins .box {
    margin: 10px;
   width:80%;
   transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

nav.share {
    box-shadow: none;
    margin-top:8px;
    margin-bottom: 8px;
}

.border-box{
border: 1px solid rgba(112, 112, 112, 0.02);
}

.btn-success:hover {
    color: #fff !important;
    background-color: #d56250;
    border-color: #fcca09;
}

.btn-success {
    color: #fff;
    background-color: #fcca09;
    border-color: #4f698a;
}

.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus {
    color: #fff;
    background-color: #e36157;
    border-color: #375b9d;
}

.line_none{
	text-decoration:none;
}

.hvr-bounce-to-right:before {

    background: #e05045;
  
}

.hvr-underline-from-center:before {
   
    background: #375b9d;

}

.btn-primary {
    color: #fff;
    background-color: #375b9d;
    border-color: #375b9d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4b6ba6;
    border-color: #4b6ba6;
}

.user_hi{
	background-color:#fcca09;
	text-transform: uppercase;
}

footer{
	background-color: #f8f8f8;
}

#footer_logo a{
	    color: #fcca09;
}